<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.1.1/randomColor.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.1/skeleton.min.css">
</head>
<body>

<div class='row'>
    <img id='logo' src='/assets/boxed-logo-large.png'>
</div>

<div class='row'>
    <h1 class='title'>Brand New Hex Buttons!</h1>
    <div class='hex-buttons'>
      <div class ='left'>
        <div class="hexagon"><span><i class="fa fa-shopping-cart fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span>
            <i class="fa fa-user fa-2x hex-text" aria-hidden="true"></i>
        </span></div>
      </div>
      <div class='right'>
        <div class="hexagon"><span><i class="fa fa-globe fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span><i class="fa fa-newspaper-o fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span><i class="fa fa-search fa-2x hex-text" aria-hidden="true"></i></span></div>
      </div>
    </div>
</div>

<div class='row green'>
    <h1 class='title-right'>Impulse Buys!</h1>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='bounce'>
                    <img id='frostedflakes' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1475635860662.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Kellogg's Frosted Flakes 55 oz $8.99</h3>
                    <i class="fa fa-shopping-cart fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='rubberband'>
                    <img id='dryersheets' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1465706652030.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Heinz Ketchup 44 oz $2.99</h3>
                    <i class="fa fa-shopping-cart fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='swivel'>
                    <img id='dryersheets' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1452979402923.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Crest Complete Whitening + Scope
5 x 8.2 oz $15.99</h3>
                    <i class="fa fa-shopping-cart fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div class='row'>
    <h1 class='title'>Draggable items into Shopping Cart</h1>

    <div class='the-box cart'>
        <i class="fa fa-dropbox fa-5x" aria-hidden="true"></i>
    </div>

    <div id="outbox" class="ui-widget-content">
      <h4 class="ui-widget-header"><span class="ui-icon ui-icon-cart"></span>Cart</h4>
      <h4 class="outbox-footer">Total: <span class='total'>0.0</span></h4>
    </div>


    <div class='products products-right'>
        <ul>
            <li id="prod1" class='item animated fadeInUp animate1' ontouchstart="this.classList.toggle('hover');">
              <div class='flipper'>
              <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1476299065238.jpg" alt="Sunchips">
                <div class='text'>
                    <span class="product-title">Sun Chips</span>
                    <span class="product-description">Multigrain Chips Variety Pack * 30 x 1.5 oz</span>
                    <span class="product-price">$11.99</span>
                </div>
              </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>

            <li id="prod2" class='item animated fadeInUp animate2'>
              <div class='flipper'>
               <div class='front'>
                  <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1422216588699.jpg" alt="glad">
                  <div class ='text'>
                      <span class="product-title">Glad</span>
                      <span class="product-description">ForceFlex 13 Gallon Tall Kitchen * 140 Count</span>
                      <span class="product-price">$17.99</span>
                  </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod3" class='item animated fadeInUp animate3'>
              <div class='flipper'>
               <div class='front'>
                  <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1486839799881.jpg" alt="pupr">
                  <div class='text'>
                      <span class="product-title">Pup-Peroni</span>
                      <span class="product-description">Original Beef Flavor * 40 oz</span>
                      <span class="product-price">$14.99</span>
                  </div>
               </div>
               <div class ='back'>
                 <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
               </div>
              </div>
            </li>
            <li id="prod4" class='item animated fadeInUp animate4' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1458938361553.jpg" alt="soap">
                <div class='text'>
                    <span class="product-title">Prince $ Spring Liquid Hand Soap</span>
                    <span class="product-description">Multipack * 4 x 7.5oz</span>
                    <span class="product-price">$4.99</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod5" class='item animated fadeInUp animate1' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1456296046802.jpg" alt="Bounty">
                <div class='text'>
                    <span class="product-title">Bounty White Paper Towels</span>
                    <span class="product-description">Select-a-Size * 12 Count</span>
                    <span class="product-price">$18.99</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod6" class='item animated fadeInUp animate2' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1443325746879.jpg" alt="Cheez-it">
                <div class='text'>
                    <span class="product-title">Cheez-It Baked Snack Crackers</span>
                    <span class="product-description">45 Count</span>
                    <span class="product-price">$11.99</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod7" class='item animated fadeInUp animate3'>
              <div class='flipper'>
               <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1464622860524.jpg" alt="annie">
                <div class='text'>
                    <span class="product-title">Annie's Organic Fruit Snacks</span>
                    <span class="product-description">Variety Pack * 42 Count</span>
                    <span class="product-price">$15.99</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod8" class='item animated fadeInUp animate1' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1443326055572.jpg" alt="Cascade">
                <div class='text'>
                    <span class="product-title">Cascade Action Pacs</span>
                    <span class="product-description">Dawn Grease-Fighter 85 Count</span>
                    <span class="product-price">$13.99</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod9" class='item animated fadeInUp animate2'>
              <div class='flipper'>
                <div class='front'>
                  <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1470353104132.jpg" alt="Chewy">
                  <div class='text'>
                      <span class="product-title">Quaker Chewy Bars</span>
                      <span class="product-description">Variety Pack * 58 Count</span>
                      <span class="product-price">$11.99</span>
                  </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod10" class='item animated fadeInUp animate3' >
              <div class='flipper'>
               <div class='front'>
                  <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1472052883255.jpg" alt="animal">
                  <div class='text'>
                      <span class="product-title">Stauffer's Animal Crackers</span>
                      <span class="product-description">Original * 46 oz</span>
                      <span class="product-price">$6.99</span>
                  </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod11" class='item animated fadeInUp animate4'>
              <div class='flipper'>
               <div class='front'>
                  <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1446587373139.jpg" alt="krispies">
                  <div class='text'>
                      <span class="product-title">Kellogg's Rice Krispies Treats</span>
                      <span class="product-description">54 Count</span>
                      <span class="product-price">$11.99</span>
                  </div>
               </div>
               <div class ='back'>
                 <div class ='center'>
                    <h3>Drag Me to the Box</h3>
                    <i class="fa fa-shopping-cart"></i>
                  </div>
               </div>
              </div>
            </li>
        </ul>
    </div>
</div>

<div class='row green'>
    <h1 class='title-right'>AJAX sorting
        <div>

            <%= button_to("Sort By", sort_type_items_path, :action => 'sort_items', :choice => 'Food', class: 'sort-button') %>


            <select class ='select-type'>
                <option value="Food">Food</option>
                <option value="Supplies">Supplies</option>
                <option value="Price">Price</option>
                <option value="Alphabetical">Alphabetical</option>
            </select>
        </div>
    </h1>

    <div class='products padder' id='sortedItems'>
        <%= render 'item_sorted'%>
    </div>

</div>

    <div id="products" class="card-holder">
        <ul>
            <li id="prod1" class='sorted'>
            <img id="popupImg" src="">
            <div class='text'>
                <span class="product-title first"></span>
                <span class="product-type second"></span>
                <span class="product-price third"></span>
            </div>
            </li>
        </ul>
    </div>


    <div id="container">
      <div id="surface">
        <%= render 'item_carousel'%>
      </div>
    </div>


</html>


