<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>

<div class='row'>
    <img id='logo' src='/assets/boxed-logo-large.png'>
</div>

<div class='row'>
    <h1 class='title'>Brand New Hex Buttons!</h1>
    <div class='hex-buttons'>
      <div class ='left'>
        <div class="hexagon"><span><i class="fa fa-shopping-cart fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span>
            <i class="fa fa-user fa-2x hex-text" aria-hidden="true"></i>
        </span></div>
      </div>
      <div class='right'>
        <div class="hexagon"><span><i class="fa fa-globe fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span><i class="fa fa-newspaper-o fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span><i class="fa fa-search fa-2x hex-text" aria-hidden="true"></i></span></div>
      </div>
    </div>
</div>

<div class='row green'>
    <h1 class='title-right'>Impulse Buys!</h1>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='bounce'>
                    <img id='frostedflakes' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1475635860662.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Kellogg's Frosted Flakes 55 oz $8.99</h3>
                    <i class="fa fa-shopping-cart fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='rubberband'>
                    <img id='dryersheets' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1465706652030.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Heinz Ketchup 44 oz $2.99</h3>
                    <i class="fa fa-shopping-cart fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='swivel'>
                    <img id='dryersheets' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1452979402923.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Crest Complete Whitening + Scope
5 x 8.2 oz $15.99</h3>
                    <i class="fa fa-shopping-cart fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>





</div>
</div>

<div class='row'>
    <h1 class='title'>AJAX sorting with Masonry</h1>
    <div class='products'>
    <button id="pokeBallButton" type="button" data-toggle="modal" data-target="#myModal">
      <div id="pokeBall"></div>
    </button>
        <ul>
            <li id="prod1" class='item animated fadeInUp animate1' ontouchstart="this.classList.toggle('hover');">
              <div class='flipper'>
              <div class='front'>
                <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1476299065238.jpg" alt="Sunchips">
                <div class='text'>
                    <span class="product-title">Sun Chips</span>
                    <span class="product-description">Multigrain Chips Variety Pack * 30 x 1.5 oz</span>
                    <span class="product-price">$11.99 * Save 29%</span>
                </div>
              </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>

            <li id="prod2" class='animated fadeInUp animate2'>
              <div class='flipper'>
               <div class='front'>
                  <img src="https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1422216588699.jpg" alt="glad">
                  <div class ='text'>
                      <span class="product-title">Glad</span>
                      <span class="product-description">ForceFlex 13 Gallon Tall Kitchen * 140 Count</span>
                      <span class="product-price">$17.99 * Save 32%</span>
                  </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod3" class='animated fadeInUp animate3'>
              <div class='flipper'>
               <div class='front'>
                  <img src="https://i.imgsafe.org/1421c7aae2.png" alt="Women's Gray Hooded Sweatshirt">
                  <div class='text'>
                      <span class="product-title">Bounty</span>
                      <span class="product-description">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sitipsum dolor sit amet. Lorem ipsum dolor sit amet.</span>
                      <span class="product-price">$35.00</span>
                  </div>
               </div>
               <div class ='back'>
                 <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
               </div>
              </div>
            </li>
            <li id="prod4"class='animated fadeInUp animate4' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://i.imgsafe.org/14240b9f18.png" alt="Men's Athletic Compression Top">
                <div class='text'>
                    <span class="product-title">Men's Athletic Compression Top</span>
                    <span class="product-description">Lorem ipsum dolor sit amet.</span>
                    <span class="product-price">$45.00</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod5" class='animated fadeInUp animate1' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://i.imgsafe.org/14f6c3d696.png" alt="Men's Olive Chinos">
                <div class='text'>
                    <span class="product-title">Men's Olive Chinos</span>
                    <span class="product-description">Lorem ipsum dolor sit amet.</span>
                    <span class="product-price">$45.00</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod6" class='animated fadeInUp animate2' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://i.imgsafe.org/210b60d480.png" alt="Women's Distressed Jeans">
                <div class='text'>
                    <span class="product-title">Women's Distressed Jeans</span>
                    <span class="product-description">Lorem ipsum dolor sit amet, sed lectus sagittis est congue, eu adipiscing amet libero. Luctus enim ante massa felis amet ac, omnis integer, aliquam viverra amet ornare sed, sed voluptate placerat enim tellus elit.</span>
                    <span class="product-price">$50.00</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod7" class='animated fadeInUp animate3'>
              <div class='flipper'>
               <div class='front'>
                <img src="https://i.imgsafe.org/14f86a5ef4.png" alt="Women's Skinny Mid Tone Jeans">
                <div class='text'>
                    <span class="product-title">Women's Skinny Mid Tone Jeans</span>
                    <span class="product-description">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</span>
                    <span class="product-price">$40.00</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod8"class='animated fadeInUp animate1' >
              <div class='flipper'>
               <div class='front'>
                <img src="https://i.imgsafe.org/1508f24253.png" alt="Leather Book Bag">
                <div class='text'>
                    <span class="product-title">Leather Book Bag</span>
                    <span class="product-description">Lorem ipsum dolor sit amet.</span>
                    <span class="product-price">$55.00</span>
                </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod9" class='animated fadeInUp animate2'>
              <div class='flipper'>
                <div class='front'>
                  <img src="https://i.imgsafe.org/1508dc9fb3.png" alt="Laptop Bag">
                  <div class='text'>
                      <span class="product-title">Laptop Bag</span>
                      <span class="product-description">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</span>
                      <span class="product-price">$40.00</span>
                  </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod10"class='animated fadeInUp animate3' >
              <div class='flipper'>
               <div class='front'>
                  <img src="https://i.imgsafe.org/1508d3b63e.png" alt="Five Panel Hat">
                  <div class='text'>
                      <span class="product-title">Five Panel Hat</span>
                      <span class="product-description">Lorem ipsum dolor sit amet, sed lectus sagittis est congue, eu adipiscing amet libero. Luctus enim ante massa felis amet ac, omnis integer, aliquam viverra amet ornare sed, sed voluptate placerat enim tellus elit.</span>
                      <span class="product-price">$30.00</span>
                  </div>
                </div>
                <div class ='back'>
                  <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
                </div>
              </div>
            </li>
            <li id="prod11" class='animated fadeInUp animate4'>
              <div class='flipper'>
               <div class='front'>
                  <img src="https://i.imgsafe.org/1508c85d59.png" alt="Apple Watch">
                  <div class='text'>
                      <span class="product-title">Apple Watch</span>
                      <span class="product-description">Lorem ipsum dolor sit amet.</span>
                      <span class="product-price">$199.99</span>
                  </div>
               </div>
               <div class ='back'>
                 <div class ='center'>
                    <i class="fa fa-shopping-cart"></i>
                    <i class="fa fa-heart"></i>
                  </div>
               </div>
              </div>
            </li>
        </ul>
    </div>
</div>

<div class='row green'>
    <h1 class='title-right'>Hex Buttons</h1>
</div>

<h1>

</h1>

</body>
</html>

