<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>

<div class='row'>
    <img id='logo' src='/assets/boxed-logo-large.png'>
</div>

<div class='row'>
    <h1 class='title'>Brand New Hex Buttons!</h1>
    <div class='hex-buttons'>
      <div class ='left'>
        <div class="hexagon"><span><i class="fa fa-shopping-cart fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span>
            <i class="fa fa-user fa-2x hex-text" aria-hidden="true"></i>
        </span></div>
      </div>
      <div class='right'>
        <div class="hexagon"><span><i class="fa fa-globe fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span><i class="fa fa-newspaper-o fa-2x hex-text" aria-hidden="true"></i></span></div>
        <div class="hexagon"><span><i class="fa fa-search fa-2x hex-text" aria-hidden="true"></i></span></div>
      </div>
    </div>
</div>

<div class='row green'>
    <h1 class='title-right'>Impulse Buys!</h1>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='bounce'>
                    <img id='frostedflakes' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1475635860662.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>They're Great with Milk!</h3>
                    <i class="fa fa-cart-plus fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='rubberband'>
                    <img id='dryersheets' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1465706652030.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Need Ketchup along with your Sausages?</h3>
                    <i class="fa fa-cart-plus fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class='pop-up animated rollIn' id='swivel'>
                    <img id='dryersheets' class='circle-image' src='https://d2ln0cvn4pv5w2.cloudfront.net/unsafe/fit-in/512x400/filters:quality(100):max_bytes(50000):fill(white)/dcmzfk78s4reh.cloudfront.net/1452979402923.jpg'>
                </div>
            </div>
            <div class="back">
                <div class='pop-up'>
                    <h3>Going to need some paste with your brush!</h3>
                    <i class="fa fa-cart-plus fa-lg circle-text" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>





</div>
</div>

<div class='row'>
    <h1 class='title'>AJAX sorting with Masonry</h1>
</div>

<div class='row green'>
    <h1 class='title-right'>Hex Buttons</h1>
</div>

<h1>

</h1>

</body>
</html>

