// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "font-awesome-sprockets";
 @import "font-awesome";

$boxed-color: #06b8a4;
$lavender-grey: #e7e9ec;

body{
  margin: 0px;
  color: #9d9d9d;
  transform: translateZ(1000px);
  -webkit-transform: translateZ(1000px);
}

body, html {
  height: 100%;
}


#logo{
  display: block;
  margin: auto;
  position: relative;
  top: -150px;
}



body > .row ~ .row {
  margin: auto;
  height: auto;
}

.hex-buttons{
  width: 140px;
  float: right;
  position: relative;
  right: -25px;
  top: 5px;
}

.hex {
  margin-bottom: 3px;
}

.left{
  position: relative;
  float: left;
  top:26px;
  width: 30px;
}

.right{
  position: relative;
  float: right;
  top:0px;
  width: 30px;
  right: 60px;
}

.hexagon {
  position: relative;
  width: 50px;
  height: 28.87px;
  background-color: $boxed-color;
  margin: 26px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  transform: rotate(90deg);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 7.3223px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.hexagon:before {
  top: -17.6777px;
}

.hexagon:after {
  bottom: -17.6777px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0px;
  left: 0;
  width:50px;
  height:28.8675px;
  z-index: 2;
  background: inherit;
}

.hexagon:hover{
  background-color: white;
}

.hexagon:hover .hex-text{
  color: $boxed-color;
}

.hex-text{
  transform: rotate(-90deg);
  font-size: 30px;
  top:-1px;
  right: -10px;
  z-index: 3;
  position: relative;
  color: white;
}

.title{
  float: left;
  font-size: 40px;
  padding: 45px 100px;
}

.title-right{
  float: right;
  font-size: 40px;
  padding: 45px 45px 100px;
  color:  white;
}

.row{
  margin: 0;
  min-height: 200px;
  overflow: hidden;
  border-bottom: 4px solid $lavender-grey;
}

.green{
  background-color: $boxed-color;
  box-shadow: 0px 0px 5px $lavender-grey;
}

.pop-up{
  position: relative;
  height: 100px;
  width: 100px;
  background-color: white;
  display: block;
  float: left;
  margin-top: 40px;
  margin-left: 25px;
  border-radius: 50%;
  overflow: hidden;
  padding:15px;
  box-shadow: 2px 2px 4px #555;
}

#bounce{
  -webkit-animation-delay: 1.5s;
}

#rubberband{
  -webkit-animation-delay: 1s;
}

#swivel{
  -webkit-animation-delay: .5s;
}

.circle-image{
  width: 100%;
  margin:auto;
  display: block;
  position: relative;
  top: 10px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  margin-left: 40px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back{
  width: 100px;
  height: 100px;
  float: left;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.back .pop-up{
  background-color: #f0f0f6;
  box-shadow: inset 2px 2px 4px #555;
  color: $boxed-color;
}

.pop-up h3{
  font-size: 13px;
  font-family: sofia-pro,sans-serif;
  text-align: center;
}

.circle-text{
  position: absolute;
  margin: auto;
  display: block;
  bottom: 15px;
  left: 50px;
  font-size: 30px;
}

.circle-text:hover{
  color: white;
}

.the-box{
  font-size: 50px;
  float: left;
  position: relative;
  clear:left;
  left: 150px;
  color: $boxed-color;
}

.products {
  width: 60%;
  float: left;
  left: 23%;
  display: table;
}

.products-right{
  position: relative;
}

.products h2 {
    text-transform: uppercase;
}

.products ul {
  width: 100%;
  margin: 10px 0;
}

.products li {
  list-style-type: none;
  min-height: 300px;
  margin: 10px 10px;
  box-sizing: border-box;
  float: left;
  cursor: -webkit-grabbing;
}

.products .flipper{
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 200px;
}

.products li:hover .flipper, .products li.hover .flipper{
  transform: rotateY(180deg);
}

.products .front{
  background: #eee;
  z-index: 2;
  transform: rotateY(0deg);
}

.products .back{
  background-color: #eee;
  transform: rotateY(180deg);
  margin: 0;
  h3{
    font-size: 20px;
  }
}


.products .front, .products .back, {
  backface-visibility: hidden;
  position: absolute;
  width: 200px;
  min-height: 300px;
  padding: 0px;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 3px 0px #888;
  border-radius: 5%;
}

.products .center{
  font-size: 50px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0px;
}

.products .fa{
  padding: 10px;
}

.fa-shopping-cart:hover{
  color: $boxed-color;
}

.back:hover .fa-heart, .back.hover .fa-heart{
  border-color: 1px solid #df8abd;
}

.products img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 5% 5% 0% 0%;
}

.products .text {
    display: inline-block;
    padding: 15px 15px;
    width: 90%;
    font-size: 13px;
}

.product-title {
    display: block;
    font-weight: 900;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.product-price {
    display: block;
    font-size: 12px;
    font-weight: 900;
    padding-top: 5px;
}

 #outbox {
    position: absolute;
    margin-top: 500px;
    left:70px;
    width: 400px;
    min-height: 18em;
    padding: 1%;
    padding-bottom: 50px;
}
#outbox h4 {
    line-height: 16px;
    margin: 0 0 0.4em;
  }
#outbox h4 .ui-icon {
  float: left;
}

.ui-droppable-hover{
  color: $lavender-grey;
}

.outbox-footer{
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.outbox-footer span{
  float:right;
  position: relative;
  right: 50px;

}

.padder{
  padding: 0px 0px;
  position: relative;
  left: 100px;
}

#sortedItems li{
  cursor: auto;
}

.sort-button{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background: white;
  color: $boxed-color;
  border-color: #eee;
}

.sort-button:hover{
  background: $boxed-color;
  color: white;
}

.select-type{
  height: 30px;
  width: 100px;
  font-size: 15px;
  text-align: center;
}

.row .button_to{
  margin: 0;
  width: 100px;
}

.sorted{
  width: 200px;
  min-height: 300px;
  padding: 0px;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 3px 0px #888;
  border-radius: 5%;
  background: #eee;
}


#container {
  width: 100%;
  height: 80%;
  margin: auto;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
#surface {
  width: 100%;
  height: 80%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.card {
  position: absolute;
  border-radius: 10%;
  cursor: pointer;
  /* Fix jagged edges in firefox */
  outline: 1px solid transparent;
}
#toolbar {
  text-align: center;
}
p {
  text-align: center;
}

.make-opaque{
  opacity: .3;
}

.make-selected{
  opacity: 1;
}

.spin-image{
  border: 1px solid #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-holder{
  width: 200px;
  padding: 0;
  margin: 0 auto;
  float: left;
  left: 105px;
  top:40px;
  position: relative;
  visibility: hidden;
}

#container{
  position: relative;
  top: 80px;
  left: 120px;
}

#popupImg{
  width: 100%;
  top: -25px;
  position: relative;
}

.zero-display{
  display: none;
}

.card-holder .text {
  padding-left: 15px;
  padding-right: 15px;
}
